{:paths ["src" "resources"]
 :deps {org.jsoup/jsoup {:mvn/version "1.17.2"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        com.cnuernber/charred {:mvn/version "1.034"}
        hato/hato {:mvn/version "0.9.0"}
        techascent/tech.ml.dataset {:mvn/version "7.029"}
        scicloj/tablecloth {:mvn/version "7.029"}
        ring/ring-core {:mvn/version "1.12.1"}
        me.xdrop/fuzzywuzzy {:mvn/version "1.4.0"}}
 :aliases
 {:build
  {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.0"}}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "target/clj-baseball-0.4.21.jar"}}}}