{:sort-col "pitches" :hfSit nil :hfPT nil,
 :hfOutfield nil :game-date-gt nil :min-pitches "0",
 :metric-1 nil :hfSA nil :hfInn nil,
 :hfTeam nil :game-date-lt nil :batter-stands nil,
 :sort-order "desc" :hfOuts nil :hfStadium nil,
 :player-event-sort "api_p_release_speed" :hfZ nil :type "details",
 :player-type "batter" :hfGT "R|" :hfC nil,
 :home-road nil :min-results "0" :hfRO nil,
 :hfOpponent nil :pitcher-throws nil :hfPull nil,
 :hfFlag nil :min-pas "0" :group-by "name",
 :hfBBT nil :position nil :hfSea nil ,
 :hfInfield nil :hfMo nil :hfPR nil,
 :hfBBL nil :hfAB nil :hfNewZones nil}